#leftcontent {
	width: 324px;
	float: left;
	height: 799px;
	margin-left: auto;
	border-bottom: 1px solid black; 
}
#calendar {
	//background-color: rgb(236,199,1);
	width: 700px;
	float: left;
	height: 800px;
	margin-right: auto;
}
#calendarcontainer {
	margin: 0px auto;
	width: 1024px;
	height: 800px;
}
#eventhead {
	height: 10%;
	width: 100%;
}
#eventbody {
	height: 90%;
	width: 100%;
}
#eventbody h4 {
	text-align: center;
}
#eventbody img {
	max-height: 400px;
	max-width:300px;
	margin:10px auto;
	display:block;
}
#eventbody p {
	margin:10px 20px;
}
#eventtitle {
	font-size: 50px;
	text-align: center;
}
#eventdetails {
	padding:5px 0px;
	list-style-type: none;
}
#eventdetails li {
	padding: 3px;
	border-bottom: 2px solid;
	border-top: 2px solid;
}
#eventdetails a {
	color:inherit;
}
#eventdetails .title {
	font-size: 22px;
	font-weight: bold;
	float:left;
}
#eventdetails .description {
	font-size:22px;
}
#months {
	border: 1px solid black;
	padding:0px;
	width: 100%;
	height:722px;
	border-spacing:0px;
	table-layout: fixed;

}
#months th {
	height: 40px;
	border: 1px solid black;
	background-color: goldenrod;
}
#months td {
	border: 2px outset darkgrey;
	padding: 1px;
	vertical-align: top;
	background-color: #eee;
}
#months .day {
	margin:1px 5px 3px 1px;
	border: 1px solid black;
	padding:1px;
	min-width: 9%;
	float:left;
	background-color:#fff;
}
#monthname {
	text-align: center;
	float:left;
	height:80px;
	width:540px;
}
#monthname h2 {
	font-size:60px;
}
.buttondiv {
	height:80px;
	width:80px;
	background-color: #eee;
	float:left;
	overflow: hidden;
}
.calendarbutton {
	position:relative;
	height:160px;
	width:80px;
}
#bleft:hover {
	bottom:80px;
	cursor:pointer;
}
#bright:hover {
	bottom:80px;
	cursor:pointer;
}
.hidden {
	visibility: hidden;
}
.a {
	width:100px;
	height:25%;
	position: relative;
	right:3px;
	cursor:pointer;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}
.b {
	width:100px;
	height:25%;
	position: relative;
	right:3px;
	cursor:pointer;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

.spacer {
	width:100%;
	height:30%;
}
#dTitle{
	width:750px;
	height:50px;
	background-color: rgba(150, 75, 0, 0.2);
	margin: 10px;
	float:left;
}
#dTitle h4 {
	font-size:36px;
	color:beige;
}
#dLink {
	width:350px;
	height:40px;
	background-color: rgba(150, 75, 0, 0.2);
	float:right;
	margin: 10px;
}
#dLink p {
	font-size:34px;
}
#dLink a {
	color:beige;
}
#dImage {
	width:200px;
	height:200px;
	margin:10px 100px;
	clear:left;
}
#dImage img {
	width:200px;
	height:200px;
}
#dText {
	width:800px;
	height:200px;
	background-color: rgba(150, 75, 0, 0.2);
	float:right;
	margin:0px 10px;
	text-align: left;
	font-size:20px;
}
#colorBox {
	width:50px;
	height:50px;
	background-color: red;
	margin: 10px;
	float:left;
}