#leftcontent {
	background: orange url(/images/test/basket.jpg);
	background-size: cover;
	width:250px;
	float:left;
	height:795px;
	margin-left: auto;
	border-bottom: 5px solid black; 
}
#calendar {
	background-color: rgb(165, 255, 179);
	width:990px;
	float:left;
	height:800px;
	margin-right: auto;
}
#description {
	background: magenta url(/images/test/wood.jpg);
	background-size: cover;
	width:1240px;
	float:left;
	margin: 0 auto;
	height: 300px;
}
#calendarcontainer {
	margin: 0px auto;
	width:1240px;
	height:1000px;
}
#eventhead {
	height:10%;
	width:100%;
}
#eventbody {
	height:90%;
	width:100%;
}
#eventtitle {
	font-size: 50px;
	text-align: center;
}
#eventdetails {
	padding:5px 0px;
	list-style-type: none;
}
#eventdetails li {
	padding: 3px;
	border-bottom: 2px solid;
	border-top: 2px solid;
}
#eventdetails a {
	color:inherit;
}
#eventdetails .title {
	font-size: 22px;
	font-weight: bold;
	float:left;
}
#eventdetails .description {
	font-size:22px;
}
#months {
	border: 5px solid black;
	padding:0px;
	width: 100%;
	height:90%;
	border-spacing:0px;
	table-layout: fixed;

}
#months th {
	height: 40px;
	border: 5px solid black;
	background-color: green;
}
#months td {
	border: 2px outset darkgrey;
	padding: 1px;
	vertical-align: top;
	background-color: #eee;
}
#months .day {
	margin:1px 5px 3px 1px;
	border: 1px solid black;
	padding:1px;
	min-width: 9%;
	float:left;
	background-color:#fff;
}
#monthname {
	text-align: center;
	float:left;
	height:80px;
	width:830px;
}
#monthname h2 {
	font-size:60px;
}
.buttondiv {
	height:80px;
	width:80px;
	background-color: #eee;
	float:left;
	overflow: hidden;
}
.button {
	position:relative;
	height:160px;
	width:80px;
}
#bleft:hover {
	bottom:80px;
	cursor:pointer;
}
#bright:hover {
	bottom:80px;
	cursor:pointer;
}
.hidden {
	visibility: hidden;
}
.a {
	width:140px;
	height:25%;
	position: relative;
	right:3px;
	cursor:pointer;
}
.b {
	width:140px;
	height:25%;
	position: relative;
	right:3px;
	cursor:pointer;
}
.c {
	width:140px;
	height:25%;
	position: relative;
	right:3px;
	cursor:pointer;
}
.spacer {
	width:100%;
	height:25%;
}
#dTitle{
	width:750px;
	height:50px;
	background-color: rgba(150, 75, 0, 0.2);
	margin: 10px;
	float:left;
}
#dTitle h4 {
	font-size:36px;
	color:beige;
}
#dLink {
	width:350px;
	height:40px;
	background-color: rgba(150, 75, 0, 0.2);
	float:right;
	margin: 10px;
}
#dLink p {
	font-size:34px;
}
#dLink a {
	color:beige;
}
#dImage {
	width:200px;
	height:200px;
	margin:10px 100px;
	clear:left;
}
#dImage img {
	width:200px;
	height:200px;
}
#dText {
	width:800px;
	height:200px;
	background-color: rgba(150, 75, 0, 0.2);
	float:right;
	margin:0px 10px;
	text-align: left;
	font-size:20px;
}
#colorBox {
	width:50px;
	height:50px;
	background-color: red;
	margin: 10px;
	float:left;
}