header {
	background-color: orange;
}

nav {
	width: 655px;
}

nav ul, nav ul li {
	background-color: #FF9900;
}

nav ul li a {
	display: default; 
}

footer, footer p {
	background: orange;
}
