/* Z-index values:
	navigation bar in slider: 5
	header: 10
	noscript: 11
*/

/* Quick-use visual classes */
.hidden {
	visibility: hidden;
}

.removed {
	display: none;
}

.backlink {
	position: relative;
	bottom: 2px;
	float: right;
	background-color: #5CAD5C;
	text-decoration: none;
	margin: 2px;
	padding: 2px 3px;
}

noscript div {
	position: fixed;
	right: 0px;
	z-index: 11;
	background: red;
	text-align: center;
}

/* General styling */

* {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

html {
	min-width: 1024px; 
}

body {
	background: blue repeat url(/images/test/goodleaves.jpg);
}

/* Header rules */

header {
	background: linear-gradient(to left, rgb(0,163,82), rgb(51,214,133));
	background: -webkit-linear-gradient(left, rgb(0,163,82), rgb(51,214,133));
	background: -o-linear-gradient(left, rgb(0,163,82), rgb(51,214,133));
	background: -moz-linear-gradient(left, rgb(0,163,82), rgb(51,214,133));
	border-top: 10px dashed chartreuse;
	border-bottom: 10px dashed chartreuse;
	z-index: 10; 	
	width: 100%;
	height: 110px;
	position: fixed;
	min-width: 1024px; 
}

header h1 {
	text-align: center;
}

div#headerpadding {
	width: 100%;
	height: 130px;
}

#blink {
	background: url(/images/brochure.png);
	position: absolute;
	width: 200px;
	height: 50px;
	top: 30px;
	right: 10px;
}

/* Nav rules */

nav { 
	display: table;
	margin: 0 auto;
	width: 550px;
}

div#registration {
	position: fixed;
	float: right;
	background-color: red;
	border-radius: 10px;
	text-align: center;
	z-index: 15;
	width: 255px;
	height: 25px;
	top: 117px; /* 98px without dashed borders */
	right: 0px;
	overflow: hidden;
	cursor: default;
}

/* Slider rules */

#sliderbox {
	background-color: black;
	width: 100%;
	min-width: 1024px;
	height: 450px;
}
#visibleImage {
	width: 100%;
	height: 450px;
}

/* Page content rules (direction refers to image location */

div.content {
	display: table;
	margin: 0 auto;
	background-color:red;
	background-size: cover;
	border: 5px outset rgb(60,60,60);
	width: 1014px;
	height: 350px;
}

.content h2 {
	text-align: center;	
}

.wood {
	background: url(/images/test/wood.jpg);
}

.basket {
	background: url(/images/test/basket.jpg);
}

.content h2:before {
  display: block; 
  content: " "; 
  margin-top: -135px; 
  height: 135px; 
  visibility: hidden; 
}

.content p {
	overflow-y: auto;
	background: rgba(150, 75, 0, 0.2);
	margin: 25px;
	padding: 5px;
	height: 250px;
	width: 634px;
	float: left;
	position: relative;
	font-size: 19px;
}

.contentleft, .contentright {  /* Note: Direction refers to location of picture in section */
	display: table;
	margin: 0 auto;
	min-width: 700px;
	max-width: 1200px;
}

.content img {
	border: 5px outset grey;
	margin: 25px;
	width: 250px;
	height: 250px;
}

.contentleft img {
	float: left;
}

.contentleft a {
	display: block;
	float: right;
	clear: left;
	position: relative;
	right: 10px;
	bottom: 10px;
}

.leftlink {
	float: right;
	position: relative;
	right: 10px;
	bottom: 10px;

}

.contentright img {
	float: right;
}

.contentright a {
	display: block;
	position: relative;
	left: 10px;
	bottom: 10px;
}

.rightlink {
	float: left;
	position: relative;
	left: 10px;
	bottom: 10px;
}

/* Footer rules */

footer {
	background: linear-gradient(to right, rgb(0,163,82), rgb(51,214,133));
	background: -webkit-linear-gradient(right, rgb(0,163,82), rgb(51,214,133));
	background: -o-linear-gradient(right, rgb(0,163,82), rgb(51,214,133));
	background: -moz-linear-gradient(right, rgb(0,163,82), rgb(51,214,133));
	clear:both;
	border-top: 10px dashed chartreuse;
	border-bottom: 10px dashed chartreuse;
}

footer p {
	text-align: center;
	padding: 10px 0px;
}

.icon {
	width: 45px;
	height: 45px;
}

.testicon {
	margin: 5px;
}

footer .icon {
	position: relative;
	overflow: hidden;
	float: left;
	width: 45px;
	height: 45px;
	top: 15px;
	left: 45px;
}

#fbicon {
	position: relative;
	bottom: 45px;
}

#twicon {
	position: relative;
	bottom: 45px;
	right: 45px;
}






