/* Styling for things that appear on most/all pages. */

/* Z-index values:
	navigation bar in slider: 5
	header: 10
	noscript: 11
	face background div: -1;
*/

/* Quick-use visual classes */
.hidden {
	visibility: hidden;
}

.removed {
	display: none;
}
/* end */

#functions {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100px;
	height: 45px;
	background-color: #FFD633;
	text-align: center;
	box-shadow: 5px 5px 5px;
}

#functions li {
	color: #997A00;
}

#functions a {
	text-decoration: none;
}

.backlink {
	position: relative;
	bottom: 2px;
	float: right;
	background-color: #FFCC00;
	text-decoration: none;
	margin: 2px;
	padding: 2px 3px;
}

noscript div {
	position: fixed;
	width: 100%;
	height: 20px;
	z-index: 25;
	background: #D63333;
	text-align: center;
}

/* General styling */

* {
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-family: Arial,Times,sans-serif;
}

html {
	min-width: 1024px; 
}

body {
	background: #d7e4f5 repeat url(/images/2014Jellystone_Wallpaper.jpg);
}

#wrapper {
	position: relative;
	width: 1024px;
	background-color: white;
	margin: 0 auto;
	padding-top: 10px;
}

/* Header rules */

header {
	z-index: 20; 	
	width: 100%;
	position: fixed;
	min-width: 1024px; 
}

header h1 {
	background-color: #b5ceed;
	text-align: center;
}

#forest {
	background: url(/images/header/forest.png);
	background-size: contain;
	width: 100%;
	height: 100px;
}

#headerpadding {
	width: 100%;
	height: 162px;
}

#blink {
	background: url(/images/brochure.png);
	position: absolute;
	width: 200px;
	height: 50px;
	top: 30px;
	right: 10px;
}

/* See navbar.css for nav styling. */

/* Slider rules */

#sliderbox {
	display: flex;
	width: 100%;
	min-width: 1024px;
	min-height: 300px;
	max-height: 550px;
	position: relative;
	overflow: hidden;
}
#backgroundImage {
	z-index: -1;
	float: left;
	width: 100%;
	min-height: 300px;
	max-height: 550px;
}
#visibleImage {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 300px;
	max-height: 550px;
}
#sliderspacer {
	width: 25px;
	height: 450px;
	float: right;
	background-color: green;
}
#sliderlogo {
	display: none;
	position: absolute;
	z-index: 1;
	width: 350px;
	height: 250px;
	margin: 80px 0px 80px 30px;
}
.navbox {
	width:20px;
	height:20px;
	background-color: rgba(255,255,255,0.5);
	margin:4px 15px;
	float:left;
	cursor: pointer;
}
.button {
	position: absolute;
	width:25px;
	height:25px;
	cursor:pointer;
	z-index: 5;
	bottom: 0px;
	opacity:0.2;
}
#leftButton {
	left:0px;
	background-image: url('/images/slider/leftarrow.png');
	background-size: 100% 100%;
}
#rightButton {
	left:50px;
	background-image: url('/images/slider/rightarrow.png');
	background-size: 100% 100%;
}

/* Page content rules (direction refers to image location */

.pagetitle {
	text-align: center;
	padding: 5px 0px;
}

.bar{
	position:relative;
	width: 1024px;
	height: 35px;	
	background-color: #FFD633;
	box-shadow: 10px 10px 10px 0px;
	margin: 20px auto auto;
	cursor: pointer;
}
.bar h2 {
	width: 95%;
	height: 25px;
	line-height: 33px;
	text-align: center;
}
.bar h2:before {
	display: block; 
	margin-top: -197px; 
	height: 197px; 
	visibility: hidden; 
}

.dropdown {
	position: absolute;
	right: 20px;
	top: 3px;
	width: 30px;
	height: 30px;
	background-image: url(/images/slider/leftarrow.png);
	background-size: 30px 30px;
	cursor:pointer;
	opacity: 0.2;
}

.content {
	display: none;
	margin: 0 auto;
	background-color: #eee;
	background-size: cover;
	width: 1000px;
	height: 350px;
}

.content h3 {
	text-align: center;
	margin-top: 10px;
}

.wood {
	background: url(/images/test/Jellystone_Woodgrain.jpg);
	background-size: cover;
}

.bearpaws1 {
	background: url(/images/test/Jellystone_BearPaws.jpg);
	background-size: cover;
}

.content p {
	overflow-y: auto;
	margin: 25px;
	padding: 5px;
	height: 250px;
	position: relative;
	font-size: 19px;
	text-align: center;
}

.contentleft, .contentright {  /* Note: Direction refers to location of picture in section */
	display: table;
	margin: 0 auto;
	min-width: 700px;
	max-width: 1000px;
}

.content img {
	border: 5px outset grey;
	margin: 25px;
	max-width: 450px;
	height: 250px;
}

.contentleft img {
	float: left;
}

.content a {
	font-weight: bold;
	position: relative;
	bottom: 10px;
}

.leftlink {
	float: right;
	right: 10px;
}

.contentright img {
	float: right;
}

.rightlink {
	float: left;
	left: 10px;
}

/* Footer rules */

#footerspacer {
	height: 420px;
}

footer {
	position: absolute;
	bottom: 0px;
	width:100%;
	min-width: 1024px;
	margin-top: 20px;
}

footer p {
	background-color: rgb(0,176,78);
	text-align: center;
	padding: 10px 0px;
	width: 1024px;
	margin: 0 auto;
}

.icon {
	width: 45px;
	height: 45px;
}

footer .icon {
	position: relative;
	overflow: hidden;
	float: left;
	width: 45px;
	height: 45px;
	top: 15px;
	left: 45px;
}

#chase {
 	margin: 0 auto;
 	display: block;
	background-image: url(/images/footer/chase.png);
	background-size: cover;
	width: 1024px;
	height: 320px;
}

#fbicon {
	position: relative;
	bottom: 45px;
}

#twicon {
	position: relative;
	bottom: 45px;
	right: 45px;
}

#fixedfooter {
	position: fixed;
	right: 20px;
	bottom: 20px;
}
#helpcloser{
	position: relative;
	width:10px;
	height:10px;
	/* top: -169px; Uncomment to put close button on top of social section */ 
	right: 5px;
	background: white;
	background-image: url("/images/footer/close.png");
	border: 1px solid black;
	cursor:pointer;
}
#sicons {
	position:relative;
	height:57px;
	width:171px;
	background-color: grey;
	clear:both;
}
.icons {
	width:57px;
	height:57px;
	float:left;
	overflow:hidden;
}
#ticon {
	position: relative;
	bottom:57px;
	right:57px;
}
#ficon {
	position: relative;
	bottom:57px;
}
#yicon {
	position: relative;
	right:57px;
}





