/* Styling for yellow navbar in header. */

#navencap {
	z-index: 10;
	width: 100%;
	height: 25px;
	background-color: #FFD633;
	box-shadow: 0px 5px 5px;
}

#newnav {
	width: 1024px;
	margin: 0 auto;
	display: table;
}

.navigationbox {
	margin: auto 8px;
	height: 25px;
	background-color: #FFD633;
	float: left;
}

.navigationbox p {
	line-height: 25px;
}

.innerbox {
	display: none;
	z-index: 10;
	background-color: #FFD633;
	box-shadow: 5px 5px 5px;
}

.navigationbox:hover > .innerbox {
	display: block;
}

.innerbox li {
	cursor: pointer;
	padding: 5px 20px;
}

.innerbox li:hover {
	background-color: #E6B800;
}

#newnav li {
	position: relative;
	list-style-type: none;
}

#newnav li a {
	text-decoration: none;
}

#newnav p {
	font-weight: bold;
	color: #000066;
}
#newnav li a:link {color:#000066;}      /* unvisited link */
#newnav li a:visited {color:#000066;}  /* visited link */
#newnav li a:hover {color:#000066;}  /* mouse over link */
#newnav li a:active {color:#000066;}  /* selected link */ 

#newnav li ul {
	position: absolute;
	left: -5px;
	top: 25px;
}
#newnav li ul li {
	margin: 5px 0px;
	white-space: nowrap;
}

#reservation {
	position: absolute;
	float: right;
	background-color: transparent;
	text-align: center;
	z-index: 15;
	width: 185px;
	height: 25px;
	line-height: 25px;
	right: 15px;
	overflow: hidden;
	cursor: pointer;
	text-decoration: none;
}
#reservation p {
	font-weight: bolder;
	color: #FF0000;
}
#reservation a {
	text-decoration: none;
	font-weight: bolder;
	color: #000066;
}
.regdropdown {
	position: absolute;
	right: 0px;
	top: 3px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	opacity: 0.2;
}
#BYSframe {
	display: none;
	position: absolute;
	top: 162px;
	right: 0px;
	width: 265px;
	height: 385px;
	box-shadow: 5px 5px 5px;
}