<form id="content_form" action="/formcontententer" method="post">
	<h2>CONTENTS</h2>
	<label for="cname">Name: </label><input type="text" name="cname" id="cname" autofocus><br/>
	<label for="ctype">Page ID: </label><input type="text" name="ctype" id="ctype" ><br/>
	<label for="cpic">Picture ID (optional): </label><input type="text" name="cpic" id="cpic"><br/>
	<label for="ctext">Text: </label><textarea name="ctext" id="ctext"></textarea><br/>
	<label for="clink">Link (optional): </label><input name="clink" id="clink"></input><br/>
	<label for="clinktext">Link Text (optional): </label><input name="clinktext" id="clinktext"></input><br/>
	<input type="submit" id="enter" name="enter">
</form>