<form id="event_form" action="/formevententer" method="post">
	<h2>CALENDAR EVENTS</h2>
	<label for="ename">Name: </label><input type="text" name="ename" id="ename" autofocus></br>
	<label for="epic">Picture ID: </label><input type="text" name="epic" id="epic"></br>
	<label for="etag">Tag: </label><input type="text" name="etag" id="etag"></br>
	<label for="etext">Desc: </label><textarea name="etext" id="etext"></textarea></br>
	<label for="elink">Link: </label><input type="text" name="elink" id="elink"></br>
	<label for="esdate">Start Date: </label><input type="date" name="esdate" id="esdate"></br>
	<label for="eedate">End Date: </label><input type="date" name="eedate" id="eedate"></br>
	<input type="submit" id="enter" name="enter">
</form>