<form id="gallery_form" action="/formgalleryenter" method="post">
	<h2>GALLERY</h2>
	<label for="gname">Name: </label><input type="text" name="gname" id="gname" autofocus></br>
	<input type="submit" id="enter" name="enter">
</form>