<form id="picture_form" action="/formpictureenter" method="post">
	<h2>PICTURES</h2>
	<label for="pdesc">Description: </label><input type="text" name="pdesc" id="pdesc" autofocus></br>
	<label for="pfile">Path (from /public): </label><input type="text" name="pfile" id="pfile"></br>
	<input type="submit" id="enter" name="enter">
</form>