<form id="resource_form" action="/formresourceenter" method="post">
	<h2>RESOURCES</h2>
	<label for="rdesc">Description (optional): </label><input type="text" name="rdesc" id="rdesc" autofocus><br/>
	<label for="ruse">Use (ie. "daycamp"): </label><input type="text" name="ruse" id="ruse" ><br/>
	Current uses: daycamp, classtrip, brochure, <br/> special <br/>
	<label for="rpath">Path: </label><input type="text" name="rpath" id="rpath"><br/>
	<input type="submit" id="enter" name="enter">
</form>