<form id="sitetype_form" action="/formsitetypeenter" method="post">
	<h2>SITETYPES</h2>
	<label for="stname">Name: </label><input type="text" name="stname" id="stname" autofocus><br/>
	<label for="stdescs">Short description: </label><input type="text" name="stdescs" id="stdescs"><br/>
	<label for="stdescl">Long description: </label><input type="text" name="stdescl" id="stdescl"><br/>
	<label for="stisweekday">In-season weekday: </label><input type="text" name="stisweekday" id="stisweekday"><br/>
	<label for="stisweekend">In-season weekend: </label><input type="text" name="stisweekend" id="stisweekend"><br/>
	<label for="stisweekly">In-season weekly: </label><input type="text" name="stisweekly" id="stisweekly"><br/>
	<label for="stholiday">Holiday: </label><input type="text" name="stholiday" id="stholiday"><br/>
	<label for="stosweekday">Off-season weekday: </label><input type="text" name="stosweekday" id="stosweekday"><br/>
	<label for="stosweekend">Off-season weekend: </label><input type="text" name="stosweekend" id="stosweekend"><br/>
	<label for="stosweekly">Off-season weekly: </label><input type="text" name="stosweekly" id="stosweekly"><br/>
	<label for="strewards">Rewards tier: </label><input type="text" name="strewards" id="strewards"><br/>
	<label for="stsuitability">Suitability: </label><input type="text" name="stsuitability" id="stsuitability"><br/>
	<label for="stnotes">Notes: </label><input type="text" name="stnotes" id="stnotes"><br/>
	<input type="submit" id="enter" name="enter">
</form>