<form id="tour_form" action="/formtourenter" method="post">
	<h2>TOUR</h2>
	<label for="tname">Name: </label><input type="text" name="tname" id="tname" autofocus></br>
	<label for="tdesc">Description: </label><input type="text" name="tdesc" id="tdesc"></br>
	<label for="tpicture_id">Picture_ID: </label><input type="text" name="tpid" id="tpid"></br>
	<label for="tcoupon_desc">Coupon Description: </label><input type="text" name="tcoupon_desc" id="tcoupon_desc"></br>
	<label for="tcolor">Color: </label><input type="text" name="tcolor" id="tcolor"></br>
	<input type="submit" id="enter" name="enter">
</form>