<form id="type_form" action="/formtypeenter" method="post">
	<h2>CONTENT TYPES</h2>
	<label for="tname">Name: </label><input type="text" name="tname" id="tname" autofocus></br>
	<input type="submit" id="enter" name="enter">
</form>