<table>
<tbody>
	<tr>
		<% @itemNames.each do |i| %>
		<th><%= i %></th>
		<% end %>
	</tr>
	<% @itemValues.each do |it| %>
	<tr>
		<% @itemNames.each do |i| %>
		<td><%= it[i.to_sym] %></td>
		<% end %>
	</tr>
	<% end %>
</tbody>
</table>