

body {
    text-align: center; padding:0; margin:0; background: #fff url("../images/background-new.gif") repeat-x scroll top center;
}

img{
	border:0;
}	


#wrapper750 {
	position:relative; 
	top: 0px; 
	left: 0px; 
	margin: 0px auto; 
	width: 750px; 
	text-align: left;
}

#activities .dottedline {
border-bottom: 1px solid #ccc;
padding:2px 0 2px 0px;
}

.dottedline {
border-bottom: 1px solid #ccc;
padding:3px 0 0px 4px;
}
/******
		 styles for vacation planner title  */

.monthyearfont {
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#348427;
	font-size: 18px;
	margin:0;
}

/******
		 styles for vacation planner left bottom table cell  */

.vp_tableCellOutlineLeft
{

	background-image: url(../images/vp_leftbar-repeat.gif); background-repeat: repeat-y right;
}

/* for policies page */

.vp_tableCellOutlineLeft2
{

	background-image: url(../images/vp_leftbar-repeat2.gif); background-repeat: repeat-y right;
}


/******
		 styles for vacation planner right table cell  */

.vp_tableCellOutlineRight
{

	background-image: url(../images/vp_rightsidebg.gif); background-repeat: repeat-y right;
}

/******
		 styles for vacation planner middle content  */

.vp_mainContentCell
{
	background-color: #F5F9EC;
	font-family: verdana , arial, helvetica, sans-serif;
	color:#666666;
	font-size: 10px;
	margin:0;
}




.vp_mainContentCellBodyFont
{
	font-family: verdana , arial, helvetica, sans-serif;
	color:#666666;
	font-size: 10px;
	margin:0;
	list-style-image: url(../images/facilities-bullet.gif);

}
.vp_mainContentCellBodyFontBold
{
	font-family: verdana , arial, helvetica, sans-serif;
	color:#666666;
	font-size: 10px;
	font-style: bold;
	margin:0;
	list-style-image: url(../images/facilities-bullet.gif);

}
.vp_mainContentCellDateTitleFont
{
	font-family: verdana , arial, helvetica, sans-serif;
	color:#666666;
	font-size: 10px;
	float: right;
	margin:0;

}
.vp_mainContentCellEventNameTitleFont
{
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#348427;
	font-size: 12px;
	font-style: bold;
	float: left;
	margin:0;

}


.vp_mainContentCellHeaderFont
{
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#348427;
	font-size: 18px;
	margin:0;

}

/******
		 styles for prices left table cell  */
		 
.p_cr_tableCellOutlineLeft {
	background-image: url(../images/p_cr_leftbg.gif); background-repeat: repeat-y right;
}

/******
		 styles for prices right table cell  */
		 
.p_cr_tableCellOutlineRight {
	background-image: url(../images/p_cr_rightbg.gif); background-repeat: repeat-y right;
}

.p_cr_ratesTitle {
	font-family: verdana , arial, helvetica, sans-serif;
	color:#348427;
	font-size: 11px;
	margin:0;
}

.p_cr_subheader {
	font-family: verdana , arial, helvetica, sans-serif;
	color:#348427;
	font-size: 10px;
	margin:0;
}


.bubble_bg {
	background-color: #F5F9EC
}



.fieldcell { 
    width: 300px; 
    font: normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
    background-color: #F8FCF7; 
    color: #333; 
    border: 1px solid #CFDFCD; 
    padding:2px 4px 2px 3px;
 } 



/*-------------------------------------------------------------------------------------------
	Main Text Styles
---------------------------------------------------------------------------------------------*/
#vacation .maincontent {background-color: #F5F9EC;}

.maincontent, .maincontent p {
	font-family: verdana , arial, helvetica, sans-serif;
	color:#666666;
	font-size: 10px;
	margin:0 0 5px 0;
	line-height: 14px;
	padding:0;
	text-align: left;
}

.maincontent ul {
	font-family: verdana , arial, helvetica, sans-serif;
	color:#666666;
	font-size: 10px;
	margin:0 0 5px 20px;
	line-height: 13px;
	padding:0;
	list-style-image: url(../images/facilities-bullet.gif);
}



.maincontent li {
margin-bottom:5px;
}



h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#348427;
	font-size: 18px;
	margin:0 0 10px 0;
	font-weight: normal;
	line-height: 20px;
	padding:0;
}


h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#509999;
	font-size: 14px;
	font-weight: bold;
	margin:8px 0 3px 0;
	padding:0;
}


h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#348427;
	font-size: 13px;
	font-weight: normal;
	margin:8px 0 3px 0;
	padding:0;
}

h4 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#348427;
	font-size: 13px;
	font-weight: normal;
	margin:10px 0 3px 0;
	padding-bottom: 2px;
	border-bottom: solid 1px #ccc;
}

h5 {
	font-family: verdana , arial, helvetica, sans-serif;
	color:#348427;
	font-size: 10px;
	margin:0;
}

.toptopnav {
	font-family: verdana , arial, helvetica, sans-serif;
	color:#519F42;
	font-size: 10px;
	margin:0;
}
/*-------------------------------------------------------
    link styles 
----------------------------------------------------------*/
.maincontent a:link,.maincontent a:active,.maincontent a:visited {
	color:#519F42;
	text-decoration:none;
}

.maincontent a:hover {
	color:#519F42;
	text-decoration:underline;
}

.toptopnav a:link,.toptopnav a:active,.toptopnav a:visited {
	color:#fff;
	text-decoration:none;
}

.toptopnav a:hover {
	color:#fff;
	text-decoration:underline;
}

.footernavfont a:active, .footernavfont a:link , .footernavfont a:visited
{
	color:#6F6F6F;
	text-decoration:underline;
}

.footernavfont a:hover 
{
	color:#333;
	text-decoration:underline;
}



/****** bodygraysmallfont
*/

.bodygraysmallfont
{
	font-family: arial, verdana, helvetica, sans-serif;
	color:#6F6F6F;
	font-size: 10px;
	margin:0;
	text-align:left;
	
}

.footernavfont, .footernavfont p {

	font-family: arial, verdana, helvetica, sans-serif;
	color:#6F6F6F;
	font-size: 10px;
	margin:0;
	line-height: 16px;
	text-align: center;
}


/*-------------------------------------------------------------------------------------------
	Navigation
---------------------------------------------------------------------------------------------*/

    	#content_container {
			position: absolute;
			top: 75px;
			left:20px;
			width: 750px;
			height: 27px;
			padding: 5px;
			margin: 0;
		}



		#container {
			position: absolute;
			top: 76px;
			left: 30px;
			width: 707px;
			height: 27px;
			padding: 5px;
			margin: 0;
			z-index: 2;
		}
		
		#container2 {
			position: absolute;
			top: 101px;
			left:20px;
			width: 707px;
			height: 27px;
			padding: 5px;
			margin: 0;
		}

		#menu {
			position: absolute;
			top: 0;
			left: 0;
			width: 707px;
			height: 27px;
			margin: 0;
			padding: 0;
			display: inline;
			overflow: hidden;
			list-style: none;
		}

		#menu li {
			margin: 0;
			padding: 0;
			display: inline; /* duplicated for IE 5/Win */
			list-style-type: none; /* duplicated for IE 5/Win */
		}

		#menu a {
			float: left;
			height: 0px !important;
			height /**/:27px; /* IE 5/Win hack */ 
			padding: 27px 0 0 0;
			overflow: hidden;
		}

		#menu a:hover {
			background-position: 0 -27px;
		}

		#menu a:active, #menu A.selected {
			background-position: 0 -54px;
		}

		#item0 a {
			width: 97px;
			background: url(../images/nav/words_01.gif) top left no-repeat;
		}

		#item1 a {
			width: 93px;
			background: url(../images/nav/reservations_02.gif) top left no-repeat;
		}

		#item2 a {
			width: 56px;
			background: url(../images/nav/prices_03.gif) top left no-repeat;
		}

		#item3 a {
			width: 112px;
			background: url(../images/nav/vacation_04.gif) top left no-repeat;
		}

		#item4 a {
			width: 62px;
			background: url(../images/nav/awards_05.gif) top left no-repeat;
		}

		#item5 a {
			width: 65px;
			background: url(../images/nav/facilities_06.gif) top left no-repeat;
		}

		#item6 A {
			width: 61px;
			background: url(../images/nav/gallery_07.gif) top left no-repeat;
		}

		#item7 a {
			width: 71px;
			background: url(../images/nav/activities_08.gif) top left no-repeat;
		}

		#item8 a {
			width: 89px;
			background: url(../images/nav/kids_corner_09.gif) top left no-repeat;
		}
		
		#item9 a {
			width: 102px;
			background: url(../images/nav/park_map_09.gif) top left no-repeat;
		}
		
		#item10 a {
			width: 84px;
			background: url(../images/nav/tours_10.gif) top left no-repeat;
		}
		
		#item11 a {
			width: 102px;
			background: url(../images/nav/directions_11.gif) top left no-repeat;
		}

		#item22 a {
			width: 103px;
			background: url(../images/nav/special_10.gif) top left no-repeat;
		}
		
		#item99 a {
			width: 103px;
			background: url(../images/nav/blank_00.gif) top left no-repeat;
		}
		
		#item98 a {
			width: 73px;
			background: url(../images/nav/home_01.gif) top left no-repeat;
		}
		
		#item97 a {
			width: 103px;
			background: url(../images/nav/brochure_14.gif) top left no-repeat;
		}
		#item100 a {
			width: 103px;
			background: url(../images/nav/brochure_15.gif) top left no-repeat;
		}
		#item101 a {
			width: 103px;
			background: url(../images/nav/special_11.gif) top left no-repeat;
		}


body#words a#wordsnav {background-position: 0 -54px;}
body#reservations a#reservationsnav {background-position: 0 -54px;}
body#prices a#pricesnav {background-position: 0 -54px;}
body#vacation a#vacationnav {background-position: 0 -54px;}
body#awards a#awardsnav {background-position: 0 -54px;}
body#facilities a#facilitiesnav {background-position: 0 -54px;}
body#gallery a#gallerynav {background-position: 0 -54px;}
body#activities a#activitiesnav {background-position: 0 -54px;}
body#kidscorner a#kidscornernav {background-position: 0 -54px;}
body#tours a#toursnav {background-position: 0 -54px;}
body#directions a#directionsnav {background-position: 0 -54px;}
body#home a#homenav {background-position: 0 -54px;}
body#special a#specialnav {background-position: 0 -54px;}
body#discounts a#discountsnav {background-position: 0 -54px;}