<h1>Area Attractions</h1>
<style type="text/css">
#sections {
	background-color:orange;
}
</style>
<div id="sections">
	<% @contentRecs.each do |cRecs| %>
		<a href="#<%= cRecs[:content_name] %>"><%= cRecs[:content_name] %></a> </br>
	<% end %>
</div>