<div id="camppage" class="wood">
	<div id="campbox">
		<h1>Yogi Bear's Jellystone Park</h1>
		<h3>Yogi Bear Day Camp</h3>
		<p>Register for BRAND NEW Yogi Bear&#8482; Day Camp at Jellystone Park&#8482;, Niagara Falls for a chance to spend a week with Yogi and his friends!  Jellystone Park, Niagara Falls offers a full day of fun activities and crafts for your child. Every week features a unique theme, daily visits from Yogi Bear and a souvenir Jellystone T-shirt signed by all of your camp friends!  We look forward to having you as our guest. Our staff is at your service to make your stay with us a memorable fun-filled time.</p>
		<br /><h1>Ages 6-10</h1>
		<br /><h1>Schedule:</h1><img id="booboo" src="/images/booboo_01.png" alt="booboo">
		<p><a href="<%= @resources[0][:path] %>" target="_blank"><strong>Day Camp Schedule</strong></a></p>
		<p>Starting July 7 - August 29, 2014.</p>
		<p>Yogi Bear Day Camp will run 9:00am - 5:00pm, Monday to Friday.</p>
		<p>Extended care hours will be 8:30 - 9:00am and 5:00 - 5:30pm</p>
		<br /><h1>Forms and Details:</h1>
		<p><a href="<%= @resources[1][:path] %>" target="_blank"><strong>Registration Form</strong></a></p>
	</div>
</div>