<div id="camppage" class="insets">
	<div id="campbox">
		<h1 id="camptitle">Yogi Bear Day Camp</font></h1>
		<p>Register for Yogi Bear&#8482; Day Camp at Jellystone Park&#8482;, Niagara Falls for a chance to spend a week with Yogi and his friends!  Jellystone Park, Niagara Falls offers a full day of fun activities and crafts for your child. Every week features a unique theme, daily visits from Yogi Bear and a souvenir Jellystone T-shirt signed by all of your camp friends!  We look forward to having you as our guest. Our staff is at your service to make your stay with us a memorable fun-filled time.</p><br/>
		<p><b>Please note:</b> This is a day camp and it is not necessary to be a camper at Jellystone Niagara.</p>
		<br /><h2>Ages 6-11</h2>
		<br /><h2>Schedule:</h2>
		<p><a href="<%= @resources[0][:path] %>" target="_blank"><strong>Day Camp Schedule</strong></a></p>
		<p>Starting July 7 - August 29, 2014.</p>
		<p>Yogi Bear Day Camp will run 9:00am - 5:00pm, Monday to Friday.</p>
		<p>Extended care hours will be 8:30 - 9:00am and 5:00 - 5:30pm</p>
		<br /><h2>Forms and Details:</h2>
		<p><a href="<%= @resources[1][:path] %>" target="_blank"><strong>Registration Form</strong></a></p>
	</div>
	<div class="spacer50"></div>
	<div class="campimgs">
		<img class="campimg floatleft" src="/images/camp/SummerCamp2.jpg" alt="crafts"><img class="campimg floatleft" src="/images/camp/SummerCamp3.jpg" alt="kids">
		<div class="clear"></div>
	</div>
	<div class="campimgs">
		<img class="campimg floatleft" src="/images/camp/SummerCamp4.jpg" alt="tug"><img class="campimg floatleft" src="/images/camp/SummerCamp5.jpg" alt="battle">
		<div class="clear"></div>
	</div>
</div>