<div id="camppage" class="wood">
	<div id="campbox">
		<p><h1>Yogi Bear's Jellystone Park</h1></p></TD>
		<p><h3>Yogi Bear Day Camp</h1></p></TD>
		<p>Register for BRAND NEW Yogi Bear&#153; Day Camp at Jellystone Park&#153;, Niagara Falls for a chance to spend a week with Yogi and his friends!  Jellystone Park, Niagara Falls offers a full day of fun activities and crafts for your child. Every week features a unique theme, daily visits from Yogi Bear and a souvenir Jellystone T-shirt signed by all of your camp friends!  We look forward to having you as our guest. Our staff is at your service to make your stay with us a memorable fun-filled time.</p>
		<br /><h1>Ages 6-10</h1>
		<br /><h1>Schedule:</h1><img id="booboo" src="/images/booboo_01.png">
		<p><a href="daycamp/DayCampInfo2.pdf" target="_blank"><font color="blue" size="2"><strong>Day Camp Schedule</strong></font></a></p>
		<p>Starting July 7 - August 29, 2014.</p>
		<p>Yogi Bear Day Camp will run 9:00am - 5:00pm, Monday to Friday.</p>
		<p>Extended care hours will be 8:30 - 9:00am and 5:00 - 5:30pm</p>
		<br /><h1>Forms and Details:</h1>
		<p><a href="daycamp/2014SummerDayCampRegistrationForm.pdf" target="_blank"><font color="blue" size="2"><strong>Registration Form</strong></font></a></p>
	</div>
</div>

<style>
#camppage {
	background-color: #00A352;
	padding: -10px;
	margin: 0 auto;
	display: table;
	width: 1024px;
	height: 700px;
}
#campbox {
	margin: 10px;
}
#campbox strong {
	font-size: 20px;
}
#booboo {
	float: right;
	position: relative;
	left: -100px;
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
}
</style>