<div id="trippage" class="insets">
  <h1 id="triptitle">Yogi Bear Class Trip</h1>
  <p>Register for Yogi Bear™ Class Trip at Jellystone Park™, Niagara Falls for a chance to spend a day with Yogi and his friends!</p>
  <p>Jellystone Park, Niagara Falls is an ideal destination for elementary school field trips and educational outings. We offer many outdoor activities dedicated to providing students with the opportunity to have fun and build memories.</p>
  <p>Our qualified staff offer a field trip / educational outing that includes a Yogi Bear themed craft, two interactive science activities and a wagon ride and sing-a-long with Yogi Bear.</p>
  <img id="yogiclass" src="/images/classtrip/ClassTrip.jpg" alt="class">
  <br />
  <h2>Forms:</h2>
  <p><a href="<%= @resources.first[:path] %>" target="_blank"><strong>Class Trip letter and Registration Form</strong></a></p>
  <p>Starting May 8 - June 14, 2014.</p>
  <br />
  <h3>The basic field trip package at $10.00 per person would be as follows:</h3>
  <br/>
  <h2>Schedule:</h2>
  <table>
    <tr> 
      <td style="border-bottom:1px solid #ccc;">&nbsp;</td>
      <td style="border-bottom:1px solid #ccc;">&nbsp;</td>
    </tr>
    <tr> 
      <td class="dottedline">9:30am</td>
      <td class="dottedline"><strong>- Arrival</strong></td>
    </tr>
    <tr> 
      <td class="dottedline">9:45am</td>
      <td class="dottedline"><strong>- Yogi Bear Ceramic Art</strong></td>
    </tr>
    <tr> 
      <td class="dottedline">10:30am</td>
      <td class="dottedline"><strong>- Outdoor Activity (e.g. scavenger hunt)</strong></td>
    </tr>
    <tr> 
      <td class="dottedline">11:15am</td>
      <td class="dottedline"><strong>- Ranger Hat and Badge Craft</strong></td>
    </tr>
    <tr> 
      <td class="dottedline">12:00pm</td>
      <td class="dottedline"><strong>- Picnic Lunch under the Pavilion</strong></td>
    </tr>
    <tr> 
      <td class="dottedline">12:30pm</td>
      <td class="dottedline"><strong>- Wagon Ride and Class Picture with Yogi Bear</strong></td>
    </tr>
    <tr> 
      <td class="dottedline">1:00pm</td>
      <td class="dottedline"><strong>- Free play on the playground</strong></td>
    </tr>
    <tr> 
      <td class="dottedline">2:00pm</td>
      <td class="dottedline"><strong>- Departure</strong></td>
    </tr>
  </table>
  <br/>
  <b>Please call for details about customizing your class trip or adding activities 905-354-1432 ask for Emma C. or Greg.</b>
  <div id="tripbox">
    <img class="tripimg floatleft" src="/images/classtrip/ClassTrip2.jpg" alt="ride"><img class="tripimg floatleft" src="/images/classtrip/ClassTrip3.png" alt="crafts">
    <div class="clear"></div>
  </div>
</div>