<h1 class="pagetitle">Comment Viewer</h1>

<% @comments.each do |comment| %>
	<div class="comment">
		<p class="horiz">Name:&nbsp</p><p class="horiz"><%= comment[:name] %></p><br/>
		<p class="horiz">E-Mail:&nbsp</p><p class="horiz"><%= comment[:email] %></p><br/>
		<p>Message:</p><p class="message"><%= comment[:message] %></p>
		<a class="deletelink" href="deletecomment?id=<%= comment[:id] %>">Delete</a>
	</div>
<% end %>

<a class="backlink" href="/admin/menu">Back to Admin</a>

<script>
function deleteComment() {
	return window.confirm("Are you sure?");
};
</script>

<script>
$('.deletelink').click(deleteComment);
</script>
