<style type="text/css">
form {
	float: left;
	width:492px;
	background-color:lime;
	border: 2px solid;
	text-align: left;
}
form label, form input, form textarea {
	margin: 5px 5px;
}
.tabbar {

}
.formnav {
width: 96px;
height: 25px;
float: left;
border: 2px solid;
text-align: center;
background-color: #00CC00;
}
.basenav {
width: 196px;
height: 25px;
float: left;
border: 2px solid;
text-align: center;
background-color: #CC00CC;
}
#formbox {
	width:496px;
	height:692px;
	background-color: #00CC00;
	overflow: auto;
	border:2px solid black;
}
#basebox {
	width:996px;
	height:692px;
	background-color: #CC00CC;
	overflow: auto;
	border:2px solid black;
}
table {
	border-collapse: collapse;
	border: 2px solid black;
	background-color: magenta;
}
th {
	border: 2px solid black;
	padding: 1px 2px;
}
td {
	border: 2px solid black;
	padding: 1px 2px;
}
#registration, #logo {
	visibility: hidden;
}
#container {
	width:1500px;
	margin:0px auto;
}
#form_content {
	width:500px;
	height:725px;
	float:left;
}
#base_content {
	width:1000px;
	height:725px;
	float:left;
}
</style>
<div id="container">
	<div id="form_content">
		<div id="form" class="tabbar" >
			<div id="fct" class="formnav" data-fname="type_form">Content Type</div>
			<div id="fc" class="formnav" data-fname="content_form">Content</div>
			<div id="fp" class="formnav" data-fname="picture_form">Picture</div>
			<div id="fe" class="formnav" data-fname="event_form">Event</div>
			<div id="fs" class="formnav" data-fname="special_form">Special</div>
		</div>
		<div id="formbox">
		</div>
	</div>

	<div id="base_content">
		<div id="base" class="tabbar" >
			<div id="bct" class="basenav" data-bname="type_base">Content Type</div>
			<div id="bc" class="basenav" data-bname="content_base">Content</div>
			<div id="bp" class="basenav" data-bname="picture_base">Picture</div>
			<div id="be" class="basenav" data-bname="event_base">Event</div>
			<div id="bs" class="basenav" data-bname="special_base">Special</div>
		</div>
		<div id="basebox">
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$("#" + sessionStorage.getItem("fdata")).trigger("click");
	$("#" + sessionStorage.getItem("bdata")).trigger("click");
});
</script>
<script type="text/javascript">

	$(".formnav").click(function() {
		text = "dbm/" + $(this).data("fname")
		$('#formbox').load(text);
		sessionStorage.setItem("fdata",this.id);
		$(".formnav").css("background-color","#00CC00");
		$(this).css("background-color","lime");
	});

	$(".basenav").click(function() {
		text = "dbm/base/" + $(this).data("bname")
		$('#basebox').load(text);
		sessionStorage.setItem("bdata",this.id);
		$(".basenav").css("background-color","#CC00CC");
		$(this).css("background-color","magenta");
	});
</script>