<h2>Groups and Rallies</h2>
<div id="upper">
	<div id="infotext">
		
	</div>
	<div id="images">
			
		<div class="slider-container">
			<div class="slider">
				<p><img width=400 height=300 src=""></p>
			</div>
		</div>

		<script type="text/javascript">
		$(function() {
		  $('.slider').miniSlider({
		  	delay: 8000,
		  	transitionSpeed: 1500
		  });
		});
		</script>

		<script>
		$('.slider').miniSlider({
		  delay: 8000,
		  transitionSpeed: 1500
		});
		</script>

	</div>
	
</div>

<div id="spacer"></div>