<%= render :partial => '/layouts/content' %>

<div id="homepics">
	<div id="p1" class="photo"><a href="/lodging"><img src="/images/lodging/bare_bones_cabin.jpg"></a></div>
	<div id="p2" class="photo"><a href="/activities"><img src="/images/activities/TshirtColoring.jpg"></a></div>
	<div id="p3" class="photo"><a href="/tours"><img src="/images/tours/adventurepass.jpg"></a></div>
</div>

<style>
#logo {
	visibility:hidden;
}
</style>