<div id="photos"></div>
<style type="text/css">
#photogallery {	
	margin: 0px 5%;
}
</style>

<iframe id="photogallery" src="http://embedsocial.com/facebook_album/album_photos/218053668212777" width="90%" height="1000" frameborder="0" scrolling="yes" marginheight="0"  marginwidth="0" ></iframe>