<div id="summary">
<h1>Lodging</h1>

<p>
Here at Jellystone park we provide both a rural outdoor experience and an indoor cabin in the woods experience
</p>

<h2>
RVs and Campsites
</h2>

<p>
Bring your own stuff and have a blast hanging out under the stars
</p>

<ul>
<li><a href="/lodging/rvcampsites?id=1">Rustic No Hook-Up</a></li>
<li><a href="/lodging/rvcampsites?id=3">Rustic Water/Electric 15amp</a></li>
<li><a href="/lodging/rvcampsites?id=4">Basic 15amp</a></li>
<li><a href="/lodging/rvcampsites?id=5">Standard 15/30</a></li>
<li><a href="/lodging/rvcampsites?id=6">Preferred 30</a></li>
<li><a href="/lodging/rvcampsites?id=7">Preferred 30PT</a></li>
<li><a href="/lodging/rvcampsites?id=8">Preferred 50</a></li>
<li><a href="/lodging/rvcampsites?id=9">Preferred 50PT</a></li>
<li><a href="/lodging/rvcampsites?id=10">Ultimate 50PT</a></li>
</ul>

<h2>
Rentals
</h2>

<p>
Rent a cabin and have a blast!
</p>

<ul>
<li><a href="/lodging/moreinfo/12">Park Model Trailers</a></li>
<li><a href="/lodging/moreinfo/13">Boo Boo™ Deluxe Cabins</a></li>
<li><a href="/lodging/moreinfo/14">Yogi Bear™ Cottages</a></li>
<li><a href="/lodging/moreinfo/15">Bare Bones Habitats</a></li>
</ul>

</div>