<script type="text/javascript">
function getSiteInfo(text,sc) {
	var txt = "parkmapinfo?id=" + text;
	$("#infobar").load(txt ,function () {
		$('#sitecolor').css("background-color", sc);
	});
}
</script>

<img id="parkmap" src="/jellystone-full-map.jpg" alt="Map" width="1024" usemap="#parkmapmap">

<map id="parkmapmap" name="parkmapmap">
	<!-- preferred 30 -->
	<area alt="map" shape="rect" coords="42,170,66,345" onclick="getSiteInfo('6','#ff8c35')"> <!-- leftOrange -->
	<area alt="map" shape="rect" coords="339,294,392,432" onclick="getSiteInfo('6','#ff8c35')"> <!-- rightOrange -->
	<!-- park model trailers -->
	<area alt="map" shape="rect" coords="76,249,110,409" onclick="getSiteInfo('12','#dfbd80')"> <!-- leftbaige -->
	<area alt="map" shape="rect" coords="339,245,392,294" onclick="getSiteInfo('12','#dfbd80')"> <!-- rightbaige -->
	<!-- preferred 50 -->
	<area alt="map" shape="poly" coords="68,93,328,93,341,132,81,132" onclick="getSiteInfo('8','#43847c')"> <!-- topleftgreenbluething -->
	<area alt="map" shape="rect" coords="358,492,573,527" onclick="getSiteInfo('8','#43847c')"> <!-- bottom blue weird color-->
	<!-- preferred 50PT -->
	<area alt="map" shape="rect" coords="288,247,324,396" onclick="getSiteInfo('9','#445897')"> <!-- bottom dark blue -->
	<area alt="map" shape="poly" coords="115,143,315,143,305,179,106,179" onclick="getSiteInfo('9','#445897')"> <!-- topbluebar+purple -->
	<!-- Ultimate 50PT -->
	<area alt="map" shape="poly" coords="90,192,309,192,322,230,102,230" onclick="getSiteInfo('10','#b282be')"> <!-- topleftbar -->
	<area alt="map" shape="poly" coords="317,143,332,143,322,179,307,179" onclick="getSiteInfo('10','#b282be')"> <!-- top left lone wanderer -->
	<area alt="map" shape="rect" coords="407,221,454,454" onclick="getSiteInfo('10','#b282be')"> <!-- left center -->
	<area alt="map" shape="rect" coords="467,221,512,456" onclick="getSiteInfo('10','#b282be')"> <!-- right center -->
	<!-- standard 15/30 -->
	<area alt="map" shape="rect" coords="339,221,392,245" onclick="getSiteInfo('5','#feed7b')"> <!-- top of bar (2) -->
	<area alt="map" shape="rect" coords="339,432,392,456" onclick="getSiteInfo('5','#feed7b')"> <!-- bottom of bar -->
	<area alt="map" shape="rect" coords="524,221,580,456" onclick="getSiteInfo('5','#feed7b')"> <!-- big bar -->
	<area alt="map" shape="rect" coords="592,209,621,236" onclick="getSiteInfo('5','#feed7b')"> <!-- top of the red stuff -->
	<area alt="map" shape="poly" coords="660,195,692,182,692,202,660,218" onclick="getSiteInfo('5','#feed7b')"> <!-- slanted next to pink -->
	<area alt="map" shape="poly" coords="653,138,692,138,692,176,671,176,662,191,646,163" onclick="getSiteInfo('5','#feed7b')"> <!-- below ranger -->
	<area alt="map" shape="poly" coords="541,147,558,128,566,127,576,151,571,190" onclick="getSiteInfo('5','#feed7b')"> <!-- curly next to blue -->
	<!-- basic 15 amp -->
	<area alt="map" shape="rect" coords="591,243,648,459" onclick="getSiteInfo('4','#c80a46')"> <!-- THERE CAN ONLY BE ONE!!! -->
	<!-- preferred 30PT -->
	<area alt="map" shape="poly" coords="385,157,405,164,525,166,541,147,572,191,571,207,353,207,363,163" onclick="getSiteInfo('7','#00adef')"> <!-- see above -->
	<!-- rustic water/ electric 15 amp -->
	<area alt="map" shape="rect" coords="283,449,320,478" onclick="getSiteInfo('3','#f54991')"> <!-- two at the front -->
	<area alt="map" shape="poly" coords="660,218,692,202,692,182,755,183,777,200,777,234,755,250,712,250,712,217,692,217,692,250,659,274" onclick="getSiteInfo('3','#f54991')"> <!-- big crazy jagged top one -->
	<!-- rustic no hook up -->
	<area alt="map" shape="poly" coords="754,93,863,217,949,386,962,440,919,384,846,246,754,119" onclick="getSiteInfo('1','#51af27')"> <!-- long side bar -->
	<area alt="map" shape="poly" coords="757,265,814,244,832,257,840,291,833,330,757,350" onclick="getSiteInfo('1','#51af27')"> <!-- next to the houses -->
	<area alt="map" shape="poly" coords="666,378,732,378,853,345,849,375,860,405,759,462,666,462" onclick="getSiteInfo('1','#51af27')"> <!-- with the not avaliable -->
	<area alt="map" shape="poly" coords="850,442,866,440,888,430,904,415,925,421,960,459,949,499,868,499,850,475" onclick="getSiteInfo('1','#51af27')"> <!-- with the cabin -->
	<area alt="map" shape="poly" coords="919,524,977,488,972,538,925,538" onclick="getSiteInfo('1','#51af27')"> <!-- Timeout corner -->
	<!-- bare bones habitats -->
	<area alt="map" shape="rect" coords="283,478,320,507" onclick="getSiteInfo('15','#955002')"> <!-- two up front -->
	<area alt="map" shape="rect" coords="582,490,847,518" onclick="getSiteInfo('15','#955002')"> <!-- bottom row -->
	<area alt="map" shape="rect" coords="827,435,844,463" onclick="getSiteInfo('15','#955002')"> <!-- lone guy in the woods -->
	<area alt="map" shape="rect" coords="696,130,762,174" onclick="getSiteInfo('15','#955002')"> <!-- top three stooges -->
	<area alt="map" shape="rect" coords="665,92,750,116" onclick="getSiteInfo('15','#955002')"> <!-- cabin top 4 -->
	<area alt="map" shape="rect" coords="671,270,751,361" onclick="getSiteInfo('15','#955002')"> <!--  -->
	<!-- Boo BOO deluxe cabin -->
	<area alt="map" shape="rect" coords="584,137,640,192" onclick="getSiteInfo('13','#7bc5c8')"> <!-- Hey Boo Boo! -->
	<!-- Yogi Bear Cottages -->
	<area alt="map" shape="rect" coords="578,93,657,117" onclick="getSiteInfo('14','#1c98be')"> <!-- Guard those picnic bearpaws1s! -->

</map>

<script>
/*<map id="parkmapmap" name="parkmapmap">
	<!-- preferred 30 -->
	<area alt="map" shape="rect" coords="50,200,78,405" onclick="getSiteInfo('6','#ff8c35')"> <!-- leftOrange -->
	<area alt="map" shape="rect" coords="398,345,460,507" onclick="getSiteInfo('6','#ff8c35')"> <!-- rightOrange -->
	<!-- park model trailers -->
	<area alt="map" shape="rect" coords="90,292,130,480" onclick="getSiteInfo('12','#dfbd80')"> <!-- leftbaige -->
	<area alt="map" shape="rect" coords="398,288,460,345" onclick="getSiteInfo('12','#dfbd80')"> <!-- rightbaige -->
	<!-- preferred 50 -->
	<area alt="map" shape="poly" coords="80,110,385,110,400,155,95,155" onclick="getSiteInfo('8','#43847c')"> <!-- topleftgreenbluething -->
	<area alt="map" shape="rect" coords="420,577,672,618" onclick="getSiteInfo('8','#43847c')"> <!-- bottom blue weird color-->
	<!-- preferred 50PT -->
	<area alt="map" shape="rect" coords="338,290,380,465" onclick="getSiteInfo('9','#445897')"> <!-- bottom dark blue -->
	<area alt="map" shape="poly" coords="135,168,370,168,358,210,125,210" onclick="getSiteInfo('9','#445897')"> <!-- topbluebar+purple -->
	<!-- Ultimate 50PT -->
	<area alt="map" shape="poly" coords="106,226,363,226,378,270,120,270" onclick="getSiteInfo('10','#b282be')"> <!-- topleftbar -->
	<area alt="map" shape="poly" coords="372,168,390,168,378,210,360,210" onclick="getSiteInfo('10','#b282be')"> <!-- top left lone wanderer -->
	<area alt="map" shape="rect" coords="478,260,533,533" onclick="getSiteInfo('10','#b282be')"> <!-- left center -->
	<area alt="map" shape="rect" coords="548,260,600,535" onclick="getSiteInfo('10','#b282be')"> <!-- right center -->
	<!-- standard 15/30 -->
	<area alt="map" shape="rect" coords="398,260,460,288" onclick="getSiteInfo('5','#feed7b')"> <!-- top of bar (2) -->
	<area alt="map" shape="rect" coords="398,507,460,535" onclick="getSiteInfo('5','#feed7b')"> <!-- bottom of bar -->
	<area alt="map" shape="rect" coords="615,260,680,535" onclick="getSiteInfo('5','#feed7b')"> <!-- big bar -->
	<area alt="map" shape="rect" coords="694,245,728,277" onclick="getSiteInfo('5','#feed7b')"> <!-- top of the red stuff -->
	<area alt="map" shape="poly" coords="774,229,812,214,812,237,774,256" onclick="getSiteInfo('5','#feed7b')"> <!-- slanted next to pink -->
	<area alt="map" shape="poly" coords="766,162,811,162,811,207,787,207,776,224,758,192" onclick="getSiteInfo('5','#feed7b')"> <!-- below ranger -->
	<area alt="map" shape="poly" coords="635,173,654,150,664,149,675,177,670,223" onclick="getSiteInfo('5','#feed7b')"> <!-- curly next to blue -->
	<!-- basic 15 amp -->
	<area alt="map" shape="rect" coords="693,285,760,538" onclick="getSiteInfo('4','#c80a46')"> <!-- THERE CAN ONLY BE ONE!!! -->
	<!-- preferred 30PT -->
	<area alt="map" shape="poly" coords="452,185,475,193,616,195,634,173,671,224,670,243,414,243,426,192" onclick="getSiteInfo('7','#00adef')"> <!-- see above -->
	<!-- rustic water/ electric 15 amp -->
	<area alt="map" shape="rect" coords="332,527,375,561" onclick="getSiteInfo('3','#f54991')"> <!-- two at the front -->
	<area alt="map" shape="poly" coords="774,256,812,237,812,214,885,215,911,235,911,275,885,294,835,294,835,255,812,255,812,294,773,322" onclick="getSiteInfo('3','#f54991')"> <!-- big crazy jagged top one -->
	<!-- rustic no hook up -->
	<area alt="map" shape="poly" coords="884,109,1012,255,1113,453,1128,516,1078,451,992,289,884,140" onclick="getSiteInfo('1','#51af27')"> <!-- long side bar -->
	<area alt="map" shape="poly" coords="888,311,954,287,975,302,985,342,977,387,888,411" onclick="getSiteInfo('1','#51af27')"> <!-- next to the houses -->
	<area alt="map" shape="poly" coords="781,444,858,444,1000,405,995,440,1008,475,890,542,781,542" onclick="getSiteInfo('1','#51af27')"> <!-- with the not avaliable -->
	<area alt="map" shape="poly" coords="997,519,1015,516,1041,505,1060,487,1085,494,1126,539,1113,585,1018,585,997,557" onclick="getSiteInfo('1','#51af27')"> <!-- with the cabin -->
	<area alt="map" shape="poly" coords="1078,615,1145,573,1140,631,1085,631" onclick="getSiteInfo('1','#51af27')"> <!-- Timeout corner -->
	<!-- bare bones habitats -->
	<area alt="map" shape="rect" coords="332,561,375,595" onclick="getSiteInfo('15','#955002')"> <!-- two up front -->
	<area alt="map" shape="rect" coords="683,575,993,608" onclick="getSiteInfo('15','#955002')"> <!-- bottom row -->
	<area alt="map" shape="rect" coords="970,510,990,543" onclick="getSiteInfo('15','#955002')"> <!-- lone guy in the woods -->
	<area alt="map" shape="rect" coords="816,153,893,204" onclick="getSiteInfo('15','#955002')"> <!-- top three stooges -->
	<area alt="map" shape="rect" coords="780,108,879,136" onclick="getSiteInfo('15','#955002')"> <!-- cabin top 4 -->
	<area alt="map" shape="rect" coords="787,317,881,424" onclick="getSiteInfo('15','#955002')"> <!--  -->
	<!-- Boo BOO deluxe cabin -->
	<area alt="map" shape="rect" coords="685,161,750,225" onclick="getSiteInfo('13','#7bc5c8')"> <!-- Hey Boo Boo! -->
	<!-- Yogi Bear Cottages -->
	<area alt="map" shape="rect" coords="678,110,770,138" onclick="getSiteInfo('14','#1c98be')"> <!-- Guard those picnic bearpaws1s! -->
</map>*/
</script>

<div id="infobar" class="wood">
	<div id="sitecolor"></div>
	<div id="sitename"><h3></h3></div>
	<div id="sitelink"><a href=""></a></div>
	<div id="description">Click on a site type for more information!</div>
	<div id="picture"><img id="pic" src="/images/logo.jpg" alt="logo"></div>
</div>

<!-- IMAGE RATIO:12:7><!-->