<div id="ratesbox">
	<img id="ratesranger" src="/images/ranger.png">
	<img id="rates" src="images/2014JellystoneRATES.jpg" border="0" alt="Jellystone Niagara Rates 2014" width="700" height="858">
</div>
