<div id="spectabs">
	<div class="spectab" id="discounttab" data-page="discounts">Discounts</div><div class="spectab" id="specialtab" data-page="specials">Specials</div>
</div>
<div id="dealbox" class="insets">
</div>

<script>
$(".spectab").click(function(){
	$("#dealbox").load("/getDeal?sd=" + $(this).data("page"));
	$(".spectab").css("background-color","#CCA352");
	$(".spectab").css("border","1px inset gray");
	$(this).css("background-color","#E6B85C");
	$(this).css("border","1px outset gray");
});
</script>

<script>
disableSelection($("#spectabs")[0]);
$($(".spectab")[0]).click();
</script>

<% if params[:page] == "2" %>
<script>
$(".spectab")[1].click();
</script>
<% end %>
