<div id="specialspage" class="wood">
	<h1 class="pagetitle">Specials</h1>
	<div id="linkbox">
		<% @specials.each do |special| %>
			<img class="speciallink" src=<%= special[-2] %> data-viewid="<%= special[-1] %>">
		<% end %>
	</div>	

	<iframe id="specialviewer"></iframe>
</div>

<script>
	$(".speciallink").click(function(){ 
		$("#specialviewer").attr('src',$(this).data('viewid'));
	});
	$("#specialviewer").attr('src','<%= @specials.first[-1] %>');
	/* var Opera = (navigator.userAgent.match(/Opera|OPR\//) ? true : false);
	if (Opera != true) {
	 	
	} */
</script>
