<style>
div#nav {
	margin: 20px 0px;
}
div#innernav {
	display: table;
	margin: 0 auto;
}
#nav li {
	display: inline;
	list-style-type: none;
	background: green;
	padding: 0px 10px;
	margin: 0px 5px;
}
</style>

<div id="nav">
	<div id="innernav">
		<ul>
			<li>Home</li>
			<li>Rates</li>
			<li>Events</li>
			<li>Lodging</li>
			<li>Facilities</li>
		</ul>
	</div>
</div>
<style type="text/css">
#testform {
	margin: 0px auto;
	width:400px;
	background-color:lime;
}
#event_form {

}
#testform label, #testform input, #testform textarea {
	margin: 5px 5px;
}
</style>
<% CalendarEvent.column_names.each do |ec| %>
<p><%= ec.to_s %></P>
<% end %>
<div id="testform">
	<form id="event_form" action="/formevententer" method="post">
		<label for="ename">Name: </label><input type="text" name="ename" id="ename" autofocus></br>
		<label for="etag">Tag: </label><input type="text" name="etag" id="etag"></br>
		<textarea name="etext" id="etext"></textarea></br>
		<label for="elink">Link: </label><input type="text" name="elink" id="elink"></br>
		<label for="esdate">Start Date: </label><input type="date" name="esdate" id="esdate"></br>
		<label for="eedate">End Date: </label><input type="date" name="eedate" id="eedate"></br>
		<input type="submit" id="enter" name="enter">
	</form>
</div>