<style>
div#nav {
	margin: 20px 0px;
}
div#innernav {
	display: table;
	margin: 0 auto;
}
#nav li {
	display: inline;
	list-style-type: none;
	background: green;
	padding: 0px 10px;
	margin: 0px 5px;
}
</style>

<div id="nav">
	<div id="innernav">
		<ul>
			<li>Home</li>
			<li>Rates</li>
			<li>Events</li>
			<li>Lodging</li>
			<li>Facilities</li>
		</ul>
	</div>
</div>
<style type="text/css">
#testform {
	margin: 0px auto;
	width:400px;
	background-color:lime;
}
#event_form {

}
#testform label, #testform input, #testform textarea {
	margin: 5px 5px;
}
</style>
<% CalendarEvent.column_names.each do |ec| %>
<p><%= ec.to_s %></P>
<% end %>
<div id="testform">
	<form id="event_form" action="/formevententer" method="post">
		<label for="ename">Name: </label><input type="text" name="ename" id="ename" autofocus></br>
		<label for="etag">Tag: </label><input type="text" name="etag" id="etag"></br>
		<textarea name="etext" id="etext"></textarea></br>
		<label for="elink">Link: </label><input type="text" name="elink" id="elink"></br>
		<label for="esdate">Start Date: </label><input type="date" name="esdate" id="esdate"></br>
		<label for="eedate">End Date: </label><input type="date" name="eedate" id="eedate"></br>
		<input type="submit" id="enter" name="enter">
	</form>
</div>

<br/><br/>

<div id="navencap">
	<nav id="newnav">
		<ul>
			<li class="navigationbox">
				<a href="/home">Home</a>
			</li>
			<li class="navigationbox">
				<a href="/rates">Rates</a>	
			</li>
			<li class="navigationbox">
				<a href="/lodging">Lodging</a>
				<ul class="innerbox">
					<li><a href="/lodging/rvcampsites">RV & Campsites</a></li>
					<li><a href="/lodging/rentals">Rentals</a></li>
				</ul>
			</li>	
			<li class="navigationbox">
				<a href="/familyfun">Family Fun</a>
				<ul class="innerbox">
					<li><a href="/familyfun/activities">Activities</a></li>
					<li><a href="/calendar">Event Calendar</a></li>
				</ul>
			</li>
			<li class="navigationbox">
				<a href="/areaattractions">Area Attractions</a>
				<ul class="innerbox">
					<li><a href="/toursandshuttles">Tours & Shuttles</a></li>
					<li><a href="/attractionsandcoupons">Attractions & Coupons</a></li>
					<li><a href="/areamap">Area Map</a></li>
				</ul>
			</li>
			<li class="navigationbox">
				<a href="/gallery">Image Gallery</a>
			</li>
			<li class="navigationbox">
				<a href="images/CurrentJellystoneWEBrochure.pdf" target="_blank">Brochure</a>
			</li>
			<li class="navigationbox">
				<a href="/specials">Specials</a>
			</li>
			<li class="navigationbox">
				<a href="/contact">Contact Us</a>
			</li>
			<li id="reservation" class="navigationbox">
				<p>Reservations</p>
			</li>
		</ul>
	</nav>
</div>

<div>
	<span></span><img src="/images/rv.jpg">
</div>