<footer>
	<p>Yogi Bear and all related characters and elements are Trademarks of Hanna-Barbera ©2014<br/>
	&copy; 2009 - 2014 BookYourSite.com and Mission Management Information Systems Inc.  All Rights Reserved.<br/>
	Trademarks are property of their respective owners.</p>
</footer>