<header>

  	<h1> TEST </h1>

	<nav>
		<ul>
			<li><a href="/camp/registration">Registration Form</a></li>
			<li><a href="/camp/gallery">Image Gallery</a></li>
			<li><a href="/camp/operations">Pricing/Hours</a></li>
			<li><a href="/camp/directions">Driving Directions</a></li>
			<br/>
			<li><a href="/home">Home</a></li>
			<li><a href="/camp/about">About Us</a>
				<ul>
					<li><a href="#">Content1</a></li>
					<li><a href="#">Content2</a></li>
					<li><a href="#">Content3</a>
						<ul>
							<li><a href="#">Subcontent1</a></li>
							<li><a href="#">Subcontent2</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="/camp/program">Camp Program</a></li>
			<li><a href="/camp/facilities">Facilities</a>
				<ul>
					<li><a href="#">Content1</a></li>
					<li><a href="#">Content2</a></li>
				</ul>
			</li>
			<li><a href="/camp/themes">Weekly Themes</a></li>
			<li><a href="/camp/faq">FAQ</a></li>
		</ul>
	</nav>
		
</header>

<div id="headerpadding">
</div>