<script>
$("header").css("position","fixed");
$("#headerpadding").show();
</script>

<TABLE id="discounts" WIDTH=730 BORDER=0 CELLPADDING=5 CELLSPACING=0>
	  <TR><TD  width=730 valign="middle" ROWSPAN=2><img src="specials/DiscountDays/DiscountDays1.gif" width=730 alt="" usemap="#sam">
	  </TD></TR>
	  	  <TR></tr>
	  <TR><TD  width=730 valign="middle" ROWSPAN=2><a href="http://www.jellystonerewards.com" target="_blank"><IMG SRC="specials/DiscountDays/DiscountDays2.gif" width=730 ALT="" ></a></TD></TR>
	  	  <TR></tr>
	  <TR><TD  width=730 valign="middle" ROWSPAN=2><a href="http://www.attractionsontario.ca/index.cfm?DSP=Chapter&ID=11&ACT=Coupon-Info&Coupon_ID=277&Member_ID=1477" target="_blank"><IMG SRC="specials/DiscountDays/DiscountDays3.gif" width=730 ALT="" ></a></TD></TR>
	  	  <TR></tr>
	  <TR><TD  width=730 valign="middle" ROWSPAN=2><IMG SRC="specials/DiscountDays/DiscountDays4.gif" width=730 ALT="" ></TD></TR>
</TABLE>

<style type="text/css">
#sam{
	cursor:pointer;
	display:block;
}
</style>

<map id="sam" name="sam">
	<area shape="circle" coords="295,385,40" href="http://www.goodsamclub.com/">
</map>