<footer>
	<div class="icon">
		<a href="https://www.facebook.com/JellystoneNiagara" target="_blank"><img id="fbicon" src="/images/socialicons1.png" width="90px" height="90px"></a>
	</div>
	<div class="icon">
		<a href="https://twitter.com/YogiBearNiagara" target="_blank"><img id="twicon" src="/images/socialicons1.png" width="90px" height="90px"></a>
	</div>
	<p>Yogi Bear and all related characters and elements are Trademarks of Hanna-Barbera ©2014<br/>
	&copy; 2009 - 2014 BookYourSite.com and Mission Management Information Systems Inc.  All Rights Reserved.<br/>
	Trademarks are property of their respective owners.</p>
</footer>