<footer>
	<div id="chase"></div>
	<p>Yogi Bear and all related characters and elements are Trademarks of Hanna-Barbera ©2014<br/>
	&copy; 2009 - 2014 BookYourSite.com and Mission Management Information Systems Inc.  All Rights Reserved.<br/>
	Trademarks are property of their respective owners.</p>
</footer>

<script type="text/javascript">
	var i = 0;
	$(window).resize(fixerUper);

	function fixerUper(){
		whitespaceFix();
		footerFix();
	}

	function whitespaceFix(){
		var wh = Math.max(($('html').width()-1024)/2,0);
		$("#whitespace").css("left",wh);
		$("#whitespace").height(Math.max($('html').height(),$(window).height()));
	}

	function footerFix(){	
		if ($(window).height() > $('html').height()+(405*i)){
			setToBottom();
			i = 1;
		} else {
			resizeFix();
			i = 0;
		}
	}

	function setToBottom () {
		$('footer').css("position","absolute");
		$('footer').css("bottom","0px");
	}

	function resizeFix() {
		$('footer').css("position","static");
	}

	$(window).resize();
</script>

<div id="fixedfooter">
	<div id="socialchat" style="position: fixed; bottom: 0px; right: 25px;">
		
		<div id="sicons">
			<div class="icons">
				<a href="https://twitter.com/YogiBearNiagara" target="_blank">
					<img id="ticon" src="/images/socialicons1.png" width="114px" height="114px">
				</a>
			</div>
			<div class="icons">
				<a href="https://www.facebook.com/JellystoneNiagara" target="_blank">
					<img id="ficon" src="/images/socialicons1.png" width="114px" height="114px">
				</a>
			</div>
			<!--
			<div class="icons">
				<a href="https://twitter.com/YogiBearNiagara" target="_blank">
					<img id="yicon" src="/images/socialicons1.png" width="114px" height="114px">
				</a>
			</div>
			-->
		</div>
		<div id="lpButDivID-1304532769"></div>
	</div>
	<div id="helpcloser"></div>
</div>

<script type="text/javascript" charset="UTF-8" src="https://server.iad.liveperson.net/hc/12021329/?cmd=mTagRepstate&amp;site=12021329&amp;buttonID=14&amp;divID=lpButDivID-1304532769&amp;bt=1&amp;c=1"></script>
<script type="text/javascript">
	$('#lpButDivID-1304532769').css("position","static");
	if(localStorage.closeLH == "true"){
		$("#socialchat").css("display","none");
		$("#helpcloser").css("background-image","url('/images/footer/open.png')")
	}
	$('#helpcloser').click(function () {
		if(localStorage.getItem("closeLH") == "false") {
			localStorage.setItem("closeLH","true");
			$("#socialchat").css("display","none");
			$("#helpcloser").css("background-image","url('/images/footer/open.png')")
		}
		else {
			localStorage.setItem("closeLH","false");
			$("#socialchat").css("display","block");
			$("#helpcloser").css("background-image","url('/images/footer/close.png')")
		}
	});
</script>

<style type="text/css">
#fixedfooter {
	position: fixed;
	right: 20px;
	bottom: 20px;
}
#helpcloser{
	position: relative;
	width:10px;
	height:10px;
	/* top: -169px; Uncomment to put close button on top of social section */ 
	right: 5px;
	background: white;
	background-image: url("/images/footer/close.png");
	border: 1px solid black;
	cursor:pointer;
}
#sicons {
	position:relative;
	height:57px;
	width:171px;
	background-color: grey;
	clear:both;
}
.icons {
	width:57px;
	height:57px;
	float:left;
	overflow:hidden;
}
#ticon {
	position: relative;
	bottom:57px;
	right:57px;
}
#ficon {
	position: relative;
	bottom:57px;
}
#yicon {
	position: relative;
	right:57px;
}
</style>

