<header>

    <script type="text/javascript">
    var pass = [false,false,false,false,false,false];
    
    function resetPass() {
        for(i=0;i<pass.length;i++){
               pass[i] = false;
        }
    }

    function trueTest (num) {
        for(i=0;i<num;i++){
            if(pass[i] == false){
                return false;
            }
        }
        return true;
    }
    resetPass();
    $(document).keydown(function (event) {
        if (event.which == 104){
            pass[0] = true;
        } else if (trueTest(1) && event.which == 102){
            pass[1] = true;
        } else if (trueTest(2) && event.which == 103){
            pass[2] = true;
        } else if (trueTest(3) && event.which == 101){
            pass[3] = true;
        } else if (trueTest(4) && event.which == 99){
            pass[4] = true;
        } else if (trueTest(5) && event.which == 96){
            pass[5] = true;
        } else if (trueTest(6) && event.which == 105){
            resetPass();
            window.location = "/admin/menu";
        } else {
            resetPass();
        }
    });
    </script>

    <h1 id="opener"> Located in beautiful Niagara Falls Ontario, Canada!</h1>

    <div id="forest">

        <a href="/home"><img id="logo" src="/images/header/logo3.png"></a>
    </div>

    <% if session[:admin] %>
    <div id="functions">
        <ul>
            <li><a href="/admin/menu">Admin</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <% end %>

    <div id="navencap">
        <nav id="newnav">
            <ul>
                <li class="navigationbox">
                    <a href="/home"><p>Home</p></a>
                </li>
                <li class="navigationbox">
                    <a href="/rates"><p>Rates</p></a>  
                </li>
                <li class="navigationbox">
                    <a href="/lodging/rvcampsites"><p>Lodging</p></a>
                    <ul class="innerbox">
                        <li><a href="/lodging/rvcampsites"><p>RVs & Campsites</p></a></li>                       
                        <li><a href="/lodging/moreinfo/14"><p>Yogi Bear&#8482; Cottages</p></a></li>
                        <li><a href="/lodging/moreinfo/13"><p>Boo Boo&#8482; Deluxe Cabins</p></a></li>
                        <li><a href="/lodging/moreinfo/12"><p>Park Model Trailers</p></a></li>
                        <li><a href="/lodging/moreinfo/15"><p>Bare Bones Shelters</p></a></li>
                        <li><a href="/lodging/moreinfo/17"><p>Habitat Shelters</p></a></li>  
                        <!-- <li><a href="/groupsandrallies"><p>Groups and Rallies</p></a></li> -->
                    </ul>
                </li>   
                <li class="navigationbox">
                    <a href="/calendar"><p>Family Fun</p></a>
                    <ul class="innerbox">
                        <li><a href="/activities"><p>Activities</p></a></li>
                        <li><a href="/calendar"><p>Event Calendar</p></a></li>
                        <li><a href="/camp"><p>Day Camp</p></a></li>
                        <li><a href="/classtrips"><p>Class Trips</p></a></li>
                    </ul>
                </li>
                <li class="navigationbox">
                    <a href="/facilities"><p>Facilities</p></a>
                    <ul class="innerbox">
                        <li><a href="/facilities"><p>Park Facilities</p></a></li>
                        <li><a href="/parkmap"><p>Park Map</p></a></li>
                    </ul>
                </li>   
                <li class="navigationbox">
                    <a href="/tours"><p>Area Attractions</p></a>
                    <ul class="innerbox">
                        <li><a href="/tours"><p>Tours and Packages</p></a></li>                  
                        <li><a href="/areamap"><p>Attraction Map</p></a></li>
                        <li><a href="/attractions"><p>Area Attractions</p></a></li>
                    </ul>
                </li>
                <li class="navigationbox">
                    <a href="/imagegallery"><p>Image Gallery</p></a>
                </li>                        
                <li class="navigationbox">
                    <a href="/contact"><p>Contact Us</p></a>
                    <ul class="innerbox">
                        <li><a href="/contact"><p>Directions</p></a></li>
                        <li><a href="/brochure" target="_blank"><p>Brochure</p></a></li>
                        <li><a href="http://gocanada.about.com/od/canadatraveloverview/qt/uscitizenborder.htm" target="_blank" onclick="leaveSite()"><p>Border Crossing</p></a></li>
                    </ul>
                </li>
                <li class="navigationbox">
                    <a href="/specials"><p style="color:red;">Specials</p></a>
                    <ul class="innerbox">
                        <li><a href="/specials"><p>Specials and Discounts</p></a></li>
                    </ul>
                </li>
            </ul>
            <div id="reservation">
                
                <noscript>
                <a href="https://v3.bookyoursite.com/jellystoneniagara/reservation"><p>RESERVATIONS</p></a>
                </noscript>
                <p>RESERVATIONS</p><img class="regdropdown" src="/images/slider/leftarrow.png"/>
            </div>
            <iframe id="BYSframe" height="310" width="255" src="https://v3.bookyoursite.com/jellystoneniagara/reservation_mini"></iframe>
        </nav>

    </div>

</header>

<div id="headerpadding">
</div>

<script>
$("#navencap").find("a").click(function(e){
    e.stopPropagation();
});
$(".innerbox li").click(function() {
    $(this).children()[0].click();
});
</script>

<script>
function switchRegArrow(bar) {
    if($(bar).find(".regdropdown").attr("src").search("downarrow") != -1) {
        $(bar).find(".regdropdown").attr("src","/images/slider/leftarrow.png");
    }
    else {
        $(bar).find(".regdropdown").attr("src","/images/slider/downarrow.png");
    }
}
</script>

