<header>

    <img id="logo" class="removed" style="position:fixed; width:200px; left:20px;" src="/images/logo.png" usemap="#map">
    <map id="map" class="removed" name="map">
        <area shape="circle" coords="88,70,70" href="/home">
    </map> 

    <script type="text/javascript">
    var pass = [false,false,false,false,false,false];
    
    function resetPass() {
        for(i=0;i<pass.length;i++){
               pass[i] = false;
        }
    }

    function trueTest (num) {
        for(i=0;i<num;i++){
            if(pass[i] == false){
                return false;
            }
        }
        return true;
    }
    resetPass();
    $(document).keydown(function (event) {
        if (event.which == 104){
            pass[0] = true;
        } else if (trueTest(1) && event.which == 102){
            pass[1] = true;
        } else if (trueTest(2) && event.which == 103){
            pass[2] = true;
        } else if (trueTest(3) && event.which == 101){
            pass[3] = true;
        } else if (trueTest(4) && event.which == 99){
            pass[4] = true;
        } else if (trueTest(5) && event.which == 96){
            pass[5] = true;
        } else if (trueTest(6) && event.which == 105){
            resetPass();
            window.location = "/admin";
        } else {
            resetPass();
        }
    });
    </script>

    <h1> Located in beautiful Niagara Falls Ontario, Canada!</h1>

    <div id="forest"></div>

    <div id="navencap">
        <nav id="newnav">
            <ul>
                <li class="navigationbox">
                    <a href="/home"><p>Home</p></a>
                </li>
                <li class="navigationbox">
                    <a href="/rates"><p>Rates</p></a>  
                </li>
                <li class="navigationbox">
                    <a href="/lodging"><p>Lodging</p></a>
                    <ul class="innerbox">
                        <li><a href="/lodging/rvcampsites"><p>RVs & Campsites</p></a></li>
                        <li><a href="/lodging/rentals"><p>Rentals</p></a></li>
                    </ul>
                </li>   
                <li class="navigationbox">
                    <a href="/familyfun"><p>Family Fun</a>
                    <ul class="innerbox">
                        <li><a href="/familyfun/activities"><p>Activities</p></a></li>
                        <li><a href="/calendar"><p>Event Calendar</p></a></li>
                    </ul>
                </li>
                <li class="navigationbox">
                    <a href="/areaattractions"><p>Area Attractions</p></a>
                    <ul class="innerbox">
                        <li><a href="/toursandshuttles"><p>Tours & Shuttles</p></a></li>
                        <li><a href="/attractionsandcoupons"><p>Attractions & Coupons</p></a></li>
                        <li><a href="/areamap"><p>Area Map</p></a></li>
                    </ul>
                </li>
                <li class="navigationbox">
                    <a href="/gallery"><p>Image Gallery</p></a>
                </li>
                <li class="navigationbox">
                    <a href="#" style="cursor: pointer;"><p>Park Info</p></a>
                    <ul class="innerbox">
                        <li><a href="/brochure" target="_blank"><p>Brochure</p></a></li>
                        <li><a href="/parkmap"><p>Park Map</p></a></li>
                    </ul>
                </li>
                <li class="navigationbox">
                    <a href="/specials"><p>Specials</p></a>
                </li>
                <li class="navigationbox">
                    <a href="/contact"><p>Contact Us</p></a>
                </li>
                <div id="reservation">
                    <noscript>
                        <a href="https://v3.bookyoursite.com/jellystoneniagara/reservation">RESERVATIONS</a>
                    </noscript>
                    <p>RESERVATIONS</p>
                </div>
                <iframe id="BYSframe" height="310px" width="255px" src="https://v3.bookyoursite.com/jellystoneniagara/reservation_mini"></iframe>
            </ul>
        </nav>

    </div>

</header>

<div id="headerpadding">
</div>

<script>
$(".innerbox li").click(function() {
    window.location = $(this).find("a").click();
});
</script>

