<script>
$("#login").hide();
</script>

<div id="adminnav">
	<a class="adminlink" href="/admin/comments"><h3>Comment Viewer</h3></a>
	<a class="adminlink" href="/admin/entry"><h3>Database Management</h3></a>
	<a class="adminlink" href="/admin/test"><h3>Test Page</h3></a>
</div>