<div id="sliderbox">
	<img id="backgroundImage" src="/images/slider/JellystoneTOPImageNoLogo.jpg">
	<img id="visibleImage" src="" alt="">
	<img id="leftButton" class="button" src="images/slider/leftarrow.png" onclick="prevImageClick()"/>
	<img id="rightButton" class="button" src="images/slider/rightarrow.png" onclick="nextImageClick()"/>
</div>

<script>

var url = "<%= @sliderFolder %>";
var pics = new Array();
var sliderIndex = 0;
var autoplay = true;

<% count = 0 %>
<%= Dir.foreach("#{Rails.root}/public/images/slider/" + @sliderFolder) do |fn| %>
<% next if fn =="." || fn == ".." %>
pics[<%= count %>] = '<%= "images/slider/" + @sliderFolder + "/" + fn %>';
<% count = count + 1 %>
<% end %>

preloadImages(pics);
$("#visibleImage").attr('src',pics[0]);

function nextImageClick() {
	autoplay = false;
	nextImage();
}

function prevImageClick() {
	autoplay = false;
	prevImage();
}

function nextImage() {
	sliderIndex = (sliderIndex + 1) % (pics.length);
	change(sliderIndex);
}

function prevImage() {
	sliderIndex = sliderIndex-1;
	if(sliderIndex < 0){
		sliderIndex = pics.length - 1;
	}
	change(sliderIndex);
}

function indexImage(num) {
	autoplay = false;
	sliderIndex = num;
	change(sliderIndex);
}

function change (num) {
	$("#visibleImage").fadeOut(500,function () {
		$("#visibleImage").attr('src','');
		$("#visibleImage").attr('src',pics[sliderIndex]);
		$("#visibleImage").fadeIn(500);
	});
}

function play(){
	if(autoplay == true){
		setTimeout(function () {
			if(autoplay == true){
			nextImage();
			play();
			}	
		},9000);
	}
}

play();

disableSelection(document.getElementById('sliderbox'));

</script>