<div id="slider-section">
	<div class="slider-container">
		<div class="slider">
			<p><img src="images/banner/banner_1.png"></p>
			<p><img src="images/landscape.jpg"></p>		
		</div>
	</div>
</div>


