<div id="sliderbox">
	<img id="backgroundImage" src="/images/slider/JellystoneTOPImageNoLogo.jpg">
	<img id="visibleImage" src="" alt="">
	<div id="leftButton" class="button" onclick="prevImageClick()"></div>
	<div id="rightButton" class="button" onclick="nextImageClick()"></div>
</div>

<script>

var url = "<%= @sliderFolder %>";
var pics = new Array();
var index = 0;
var autoplay = true;

<% count = 0 %>
<%= Dir.foreach("#{Rails.root}/public/images/slider/" + @sliderFolder) do |fn| %>
<% next if fn =="." || fn == ".." %>
pics[<%= count %>] = '<%= "images/slider/" + @sliderFolder + "/" + fn %>';
<% count = count + 1 %>
<% end %>

preloadImages(pics);
$("#visibleImage").attr('src',pics[0]);

function nextImageClick() {
	autoplay = false;
	nextImage();
}

function prevImageClick() {
	autoplay = false;
	prevImage();
}

function nextImage() {
	index = (index + 1) % (pics.length);
	change(index);
}

function prevImage() {
	index = index-1;
	if(index < 0){
		index = pics.length - 1;
	}
	change(index);
}

function indexImage(num) {
	autoplay = false;
	index = num;
	change(index);
}

function change (num) {
	$("#visibleImage").fadeOut(500,function () {
		$("#visibleImage").attr('src','');
		$("#visibleImage").attr('src',pics[index]);
		$("#visibleImage").fadeIn(500);
	});
}

function play(){
	if(autoplay == true){
		setTimeout(function () {
			if(autoplay == true){
			nextImage();
			play();
			}	
		},10000);
	}
}

play();

disableSelection(document.getElementById('sliderbox'));

</script>